{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off"
  }
}

    // ["error", { "allow": ["_id"] }],

    // "allow": ["_id"]

    // "no-underscore-dangle": ["error", { "allow": ["foo_", "_bar"] }]

